@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,300italic,400,400italic,700,700italic);

body {
    margin: 60px auto;
    width: 70%;
    font-family: 'Ubuntu', Georgia, Times; 
    font-size: 16px; 
}
nav ul, footer ul {
    font-family: 'Ubuntu', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Ubuntu', Georgia, Times; font-weight: 700;}
.header, .footer, .header h3 { font-family: 'Ubuntu', Helvetica, sans-serif; text-transform: uppercase; font-weight: normal; }
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
